<form [formGroup]="recommendationsForm" (ngSubmit)="onFormSubmit(recommendationsForm.value)">
  <mat-form-field class="form-field">
    <input matInput placeholder="Username" formControlName="Username">
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Watchlist Source</mat-label>
    <mat-select formControlName="Source">
      <mat-option *ngFor="let source of sources" [value]="source.value">
        {{source.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button color="primary" class="form-field">Get Recommendations</button>
</form>
