<section class="mat-typography main-container">
  <h1>Your recommendations</h1>
  <mat-grid-list [appResponsiveColumns]="{xs: 1, sm: 2, md: 4, lg: 6, xl: 12}" cols="6">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile *ngFor="let recommendation of this.recommendationsService.recommendations">
      <mat-card>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
